@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "tab";

* {
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth!important;
}



body {
  background-color: #0E2007;
}

.container {
  @apply mx-auto px-4 max-w-[1400px]

}
